body {
	margin: 0;
	/*background-color: #699B99;*/
	background-color: #2C2C2C;
}

.container {
	width:960px;
	margin: 0 auto;
	margin-top: 40px;
	/*border: 1px solid black;*/
	background-color: #2C2C2C;
	overflow: hidden;
}

.header {
	margin-bottom:40px;
	text-align: center;
}

.header ul {
	list-style-type: none;
	display:block;
	/*border: 1px solid black;*/
	padding-left: 0px;
}

.header ul li {
	display:inline;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	padding:61px;
	/*border:1px solid black;*/
	margin: 0;

}

.header ul li a {
	text-decoration: none;
	color:#FFFFFF;
	margin:0;
}

.bio {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	color:#FFFFFF;

}

img {
	width:100px;
	height:100px;
	/*border:1px solid black;*/
	/*margin-left: 15px;*/
}

.portfolio {
	margin-left: 45px;
}

.portfolio img {
	width:450px;
	margin-bottom: 40px;
	opacity: 0.8;
  border: 1px solid #2F2F2F;
}

.portfolio img:hover {
	opacity: 1;
	transition: opacity 0.2s ease-in;

}


@media only screen and (max-width: 320px) {

.container {
	width:320px;
	margin: 0 auto;
	margin-top: 40px;
	background-color: #2C2C2C;
	overflow: hidden;
}

.header {
	margin-bottom:40px;
}

.header ul {
	list-style-type: none;
	display:block;
	/*border: 1px solid black;*/
	padding-left: 0px;
	text-align: center;
}

.header ul li {
	display:inline;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	padding:7px;
	/*border:1px solid black;*/
	margin: 0;


}

.header ul li a {
	text-decoration: none;
	color:#FFFFFF;
	margin:0;
}

li img {
	/*display: none;*/
}



.portfolio {
	width:320px;
	margin-left: 0;
}

.portfolio img {
	max-width: 320px;
	margin:0;

}






} /* end */
