nav, ul, li, a {
	display:none;
}

.bio {
	text-align: center;
}

.header {
	margin-bottom: 30pt;
}

section h1 {
	font-size: 12pt;
}

body {
	background:transparent;
}

a[href^="https://"] {
  display: inline;
  color:#000;
  text-decoration: none;
}
